a {
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 20px 50px 20px 20px;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.display-menu{
    text-align: left;
    display: none;
    top: 9.8%;
    right: 0%;
    position: absolute;
    text-align: left;
    background: rgb(38, 50, 59);
}
.display-menu.active {
    display: flex;
    flex-direction: column;
}
#title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: fit-content;
    margin-left: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 7px;
}
#login{
    position: absolute;
    border-radius: 20px;
    right: 20px;
    top: 2%;
    width: fit-content;
    background-color: rgb(38, 50, 59);
}
#login a{
    border: none;
    font-size: medium;
    background-color: rgb(41, 55, 65);
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    margin-right: 60px;
    
}
#menu-btn{
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 2%;
    rotate: 90deg;
    margin-right: 10px;
    padding: 0px 10px 5px 10px;
}

#title a{
    border: none;
}
.top-bar {
    border: 1px solid;
    background-color: rgb(38, 50, 59);
    height: 70px;
    width: 100%;
    align-content: center;
    border: 2px solid black;
}

.ribbon-content {
    background-color: rgb(41, 55, 65);
    color: white;
    font-size: 35px;
}
.top-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.item-block {
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 350px;
    width: 330px;
    margin: 2%;
}
.item-block-selected {
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 360px;
    width: 340px;
    margin: 2%;
    box-shadow: 0 0 10px #48abe0;
}
.item-image,.item-description {
    height: 150px;
    width: 80%;
    border: 1px solid black;
    margin: 5%;
} 
.menu-btn{
    font-size: 35px;
    border: none;
    background: none;
    color: white;
} 
.headline {
    justify-self: center;
}