.menu-links{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 20px 50px 20px 20px;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1c1c21;
    --bs-body-bg: black;
}
.display-menu{
    text-align: left;
    display: none;
    position: absolute;
    z-index: 1000;
    right: 0%;
    text-align: left;
    background: rgb(38, 50, 59);
    width: 250px;
}
.display-menu.active {
    display: flex;
    flex-direction: column;
}
.nav-content {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: fit-content;
    border-radius: 20px;
    margin-left: 10px;
    letter-spacing: 2px;
    padding: 7px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    font-size: 28px;
    background-color: rgb(41, 55, 65);
}
#dropdown-btn{
    border-radius: 50%;
    rotate: 90deg;
    margin-right: 10px;
    padding: 0px 10px 5px 10px;
    background-color: rgb(41, 55, 65);
    
}
.nav-item{
    align-self: center;
}
.navbar{
    background-color: rgb(38, 50, 59);
    box-shadow: 0 0 30px rgb(155, 155, 155); 
    border: 2px solid black; 
    border-radius: 5px;
}
.top-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.item-block {
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 400px;
    width: 280px;
    margin: 2%;
}
.item-block-selected {
    background-color: rgb(167, 167, 167);
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 410px;
    width: 290px;
    margin: 2%;
    box-shadow: 0 0 10px #48abe0;
}
.item-image{
    border: 1px solid black;
}
.item-description {
    height: 200px;
    width: 80%;
    border: 1px solid black;
    margin: 5%;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.menu-links{
    border-radius: 2px;
    background-color: rgb(41, 55, 65);
} 
.headline {
    margin-top: 15px;
    justify-self: center;
    color: white;
}
/*Listing css*/
#list-add-btn{
    background-color: rgb(38, 50, 59);
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: large;
    padding-left: 1rem;
    padding-right:1rem; 
    margin: 20px 10px 10px 20px;
    align-content: center;
    box-shadow: 0 0 20px rgb(155, 155, 155); 

}
.my-lists {
    background-color: rgb(38, 50, 59);
    border: 3px solid black;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    margin: 30px;
    height: 500px;
    box-shadow: 0 0 20px rgb(155, 155, 155); 
}
.my-lists .item-block{
    background-color: white;
}
.my-lists .item-block-selected{
    background-color: white;
}
.list-add-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
#list-desc {
    background-color: rgb(38, 50, 59);
    border: 3px solid black;
    border-radius:20px;
    width: 100%;
    justify-self: left;
    font-size: 20px;
    color: white;
    box-shadow: 0 0 20px rgb(155, 155, 155); 
}
.list-desc p{
    margin-left: 10px;
}
.add-link {
    border: none;
    padding: 0px;
}
.list-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}
.list-title, .list-ini-desc{
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}
.item-link{
    text-decoration: none;
    color: black;
}
/*For addList page*/
#top-mylist{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#top-mylist a{
    margin-right: 35%;
    border: none;
    padding: 0px;
}

#add-section{
    background-color: rgb(38, 50, 59);
    border: 3px solid black;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: 410px;
    justify-content: center;
    box-shadow: 0 0 20px rgb(155, 155, 155);
}

#list-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.add-section-box{
    display: flex;
    flex-direction: row;
    background: white;
    margin: 20px;
    width: 47%;
    border: 2px solid black;
}

.info-box{
    width: 45%;
    height: 370px;
    margin: auto;
}

.list-add-first{
    font-size: 20px;
    text-align: left;
    left: 10%;
    width: 89%;
    height: 25px;
    margin: 1%;
}
input.list-add-first{
    font-size: 15px;
}
.inp-price{
    width: 100%;
}
.inp-check{
    display: flexbox;
}   
#inp-boxes{
    width: 25px;
}
.list-textarea{
    max-width: 250px;
    max-height: 265px;
    min-width: 250px;
    min-height: 265px;
}
#right-add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
}
.img-place{
    border: 1px solid black;
    background: lightgray;
    width:75%;
    height: 75%;
    margin: auto;
}
#img-select{
    width: auto;
}
#preview-img{
    width: 100%;
    height: 100%;
    display: none;
}
.btn-selector{
    display: flexbox;
    flex-direction: column;
}
/*resposive for form when i come back to make it more responsive
@media screen and (max-width: 1300px) {
    .info-right textarea{
        max-width: 120px;
        min-width: 120px;
    }
    #img-select{
        width: 200px;
        font-size: small;
    }
}
@media screen and (max-width : 1150px){
    #list-form label,input{
        width: 100px;
    }
    .info-right textarea{
        max-width: 90px;
        min-width: 90px;
    }
    .inp-price{
        width: 80px;
    }
    #inp-boxes{
        width: 10px;
        font-size: 10px;
        margin: 0px;
        height: 10px;
    }
    #img-select{
        width: 150px;
        font-size: smaller;
    }
} */