.menu-links{
    border: 1px solid black;
    text-decoration: none;
    color: white;
    padding: 20px 50px 20px 20px;
}
.login-link{
    background-color: rgb(41, 55, 65);
    border: none;
    border-radius: 20px;
    font-size: medium;
    text-decoration: none;
    color: white;
    margin-right: 60px;
    padding: 10px 20px 10px 20px;
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
}
.display-menu{
    text-align: left;
    display: none;
    top: 9.8%;
    right: 0%;
    position: absolute;
    text-align: left;
    background: rgb(38, 50, 59);
}
.display-menu.active {
    display: flex;
    flex-direction: column;
}
#title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    width: fit-content;
    margin-left: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    padding: 7px;
    text-decoration: none;
}
#login{
    position: absolute;
    border-radius: 20px;
    right: 20px;
    top: 2%;
    width: fit-content;
    background-color: rgb(38, 50, 59);
}
#menu-btn{
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 2%;
    rotate: 90deg;
    margin-right: 10px;
    padding: 0px 10px 5px 10px;
}

#title a{
    border: none;
    text-decoration: none;
    color: white;
}
.top-bar {
    border: 1px solid;
    background-color: rgb(38, 50, 59);
    height: 70px;
    width: 100%;
    align-content: center;
    border: 2px solid black;
}

.ribbon-content {
    background-color: rgb(41, 55, 65);
    color: white;
    font-size: 35px;
}
.top-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.item-block {
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 350px;
    width: 330px;
    margin: 2%;
}
.item-block-selected {
    display: flex;
    flex-direction: column;
    align-items:center ;
    border: 2px solid black;
    height: 360px;
    width: 340px;
    margin: 2%;
    box-shadow: 0 0 10px #48abe0;
}
.item-image,.item-description {
    height: 150px;
    width: 80%;
    border: 1px solid black;
    margin: 5%;
} 
.menu-btn{
    font-size: 35px;
    border: none;
    background: none;
    color: white;
} 
.headline {
    justify-self: center;
}
/*Listing css*/
#list-add-btn{
    background: rgb(102, 122, 136);
    border-radius: 10px;
    color: white;
    padding: 5px;
    font-size: large;
    padding-left: 1rem;
    padding-right:1rem; 
    margin: 20px 10px 10px 20px;
    align-content: center;

}
.my-lists {
    background: rgb(102, 122, 136);
    border: 1px solid black;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    margin: 30px;
    height: 410px;
}
.my-lists .item-block{
    background-color: white;
}
.my-lists .item-block-selected{
    background-color: white;
}
.list-add-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 300px;
    justify-content: right;
}
.list-desc {
    background: rgb(102, 122, 136);
    border: 1px solid black;
    border-radius:20px;
    width: 100%;
    height: 150px;
    margin: 50px;
    justify-self: left;
    font-size: 20px;
    color: white;
}
.list-desc p{
    margin-left: 10px;
}
.add-link {
    border: none;
    padding: 0px;
}
/*For addList page*/
#top-mylist{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#top-mylist a{
    margin-right: 35%;
    border: none;
    padding: 0px;
}
.add-section{
    background: rgb(102, 122, 136);
    border: 1px solid black;
    border-radius:20px;
    display: flex;
    flex-direction: row;
    margin: 30px;
    height: 410px;
    justify-content: center;
}
.add-section-left{
    display: flex;
    flex-direction: row;
    background: white;
    margin: 20px;
    width: 45%;
}
#list-form {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px;
}
#list-form label,input{
    font-size: 20px;
    text-align: left;
    left: 10%;
    width: 270px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 5px;
}
.info-right textarea{
    max-width: 260px;
    max-height: 250px;
    min-width: 260px;
    min-height: 250px;
}
.add-section-right{
    background:white;
    margin: 20px;
    width: 45%;
}
.info-left{
    width: 400px;
    height: 370px;
}
.info-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 300px;
    height: 370px;
}
.price-div{
    display: flex;
    flex-direction: row;
}
.currancy{
    font-size: 25px;
    margin: 10px 5px 0px 0px;
}
.inp-price{
    width: 248px;
}
.inp-check{
    display: flexbox;
}
#inp-boxes{
    width: 25px;
}
#img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 75%;
}
.img-place{
    border: 1px solid black;
    background: lightgray;
    width:75%;
    height: 75%;
    margin: 15px;
}
#img-select{
    width: auto;
}
#preview-img{
    width: 100%;
    height: 100%;
    display: none;
}
/*resposive for form*/
@media screen and (max-width: 1300px) {
    .info-right textarea{
        max-width: 120px;
        min-width: 120px;
    }
    #img-select{
        width: 200px;
        font-size: small;
    }
}
@media screen and (max-width : 1150px){
    #list-form label,input{
        width: 100px;
    }
    .info-right textarea{
        max-width: 90px;
        min-width: 90px;
    }
    .inp-price{
        width: 80px;
    }
    #inp-boxes{
        width: 10px;
        font-size: 10px;
        margin: 0px;
        height: 10px;
    }
    #img-select{
        width: 150px;
        font-size: smaller;
    }
}